{% extends "base.html" %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block description %}Applications présidentielle de {{ object }}{% endblock %}

{% block header %}
<section class="well">
    <h1>Applications de <em>{{ object }}</em> <a href="{{ object.link }}" target="_blank"><img src="{{ author.logo.url }}" /></a></h1>
    </section>
{% endblock %}

{% block main %}
    {% include "fpe2aa/includes/applications.html" with applications=object.online_applications %}
{% endblock main %}
