{% extends "base.html" %}

{% block main %}
<ul>
    <li><a href="/">Retour à l'accueil</a></li>
    <li><a href="{% url platform_list %}">Retour à la liste des plate-formes</a></li>
</ul>

<h1>Applications de la plate-forme "{{ object }}"</h1>

{% include "fpe2aa/includes/filter-bar.html" %}

<ul class="unstyled app-list">
    {% for application in object.application_set.all %}
        <li class="span3">
            {% include "fpe2aa/includes/application-widget.html" %}
        </li>
    {% endfor %}
</ul>
{% endblock main %}
