@import "mixins.less";


html {
    overflow-y: scroll;
}

/* Tweak twitter-bootstrap navbar */
.navbar {
    .nav-collapse.in {
        height: auto !important;
    }
    .dropdown {
        .dropdown-menu {
            display: none;
        }
        &.open .dropdown-menu {
            display: block;
        }
    }
    .navbar-text {
        line-height: 39px;
    }
    .nav .open.active, .nav .active > .dropdown-toggle {
        background: #222;
    }
}
/* End of tweak */

.navbar .dropdown-menu li img {
    float: right;
}

.container > header {
//    background: url("../img/header.png") no-repeat 50% 0 transparent;
//    padding-top: 50px;
    .well {
        overflow: auto;
        h1 {
            margin-bottom: 0.5ex;
            small {
                display: block;
                line-height: 30px;
            }
        }
        a.btn {
            font-weight: bold;
            float: right;
        }
    }
}

figure {
    margin: 0;
    a {
        display: block;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
}

.carousel-control-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 46px;
    left: 15px;
    z-index: 3;
    &.right {
        left: auto;
        right: 15px;
    }
    .carousel-control {
        left: 0;
    }
}
.carousel-caption {
    color: white;
    z-index: 4;
    h4 {
        margin-bottom: 1ex;
    }
    span {
        font-weight: normal;
        font-size: smaller;
        a {
            text-decoration: underline;
        }
    }
    a {
        color: white;
    }
    footer {
        border-top: solid #666 1px;
        padding-top: 5px;
        a {
            text-decoration: underline;
        }
    }
    .btn {
        font-size: 13px;
        color: #333;
    }
}

.app-list {
    > li {
        .box-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
        position: relative;
        display: inline-block;
        padding: 5px;
        .box-sizing(border-box);
        background: black;
        .border-radius(5px);
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
        article {
            padding: 5px 10px;
            .border-radius(0 0 5px 5px);
            h4 {
                margin-bottom: 0;
            }
            span a {
                text-decoration: none;
            }
            section, footer {
               display: none
            }
        }
        &:hover {
            article {
                background: rgba(0, 0, 0, 0.9);
                .border-radius(5px);
                padding-top: 10px;
                bottom: auto;
                top: 0;
                h4 {
                    margin-bottom: 1ex;
                    a {
                        text-decoration: underline;
                    }
                }
                section, footer {
                    display: block;
                }
            }
        }
    }
}

#filter-hint {
    float: right;
    margin-right: 1.5em;
    .full-only {
        display: none;
    }
    b:first-child {
        display: none;
    }
}

@media (min-width: 980px) {
    #filter-hint {
        margin-right: 2em;
        .full-only {
            display: inline;
        }
        b:first-child {
            display: inline-block;
        }
    }
}

@media (min-width: 1200px) {
    .container > header .well h1 small {
        display: inline;
        line-height: 36px;
    }
}

@media (min-width: 1200px) {
    .app-list {
        > li {
            margin-bottom: 30px;
        }
    }
}
