<nav id="sort" class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
            Tri
            <small>
            {% if sort == 'name' %}
                (nom)
            {% elif sort == 'date' %}
                (date)
            {% else %}
                (popularité)
            {% endif %}
            </small>
            <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
        <li{% if sort != "name" and sort != "date" %} class="active"{% endif %}><a href=".">Popularité</a></li>
        <li{% if sort == "name" %} class="active"{% endif %}><a href=".?sort=name">Nom</a></li>
        <li{% if sort == "date" %} class="active"{% endif %}><a href=".?sort=date">Date d'ajout</a></li>
    </ul>
</nav>
<section class="app-list sort-{{ sort|default:"popularity" }}{% if sort != 'date' %} row{% endif %}">
    {% if sort == 'date' %}
        {% regroup applications by day as days_list %}
        {% for day in days_list %}
            <header>
                {% with anchor=day.grouper|date:"Y-m-d" nb=day.list|length %}
                    <h3 id="{{ anchor }}"><a href="#{{ anchor }}">{{ nb }} ajout{{ nb|pluralize }} le {{ day.grouper }}</a></h3>
                {% endwith %}
            </header>
            <section class="row">
                {% include "fpe2aa/includes/applications_group.html" with applications=day.list %}
            </section>
        {% endfor %}
    {% else %}
        {% include "fpe2aa/includes/applications_group.html" %}
    {% endif %}
</section>
