{% load thumbnail %}
<li><p class="navbar-text">Filter par : </p></li>

<li class="dropdown{% if filter_type == 'author' %} active{% endif %}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Auteurs<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for author in authors %}
            <li{% if filter_type == 'author' and filter == author.slug %} class="active"{% endif %}><a href="{{ author.get_absolute_url }}"><img src="{% thumbnail author.logo 0x18 %}" /> {{ author }}</a></li>
        {% endfor %}
    </ul>
</li>

<li class="dropdown{% if filter_type == 'platform' %} active{% endif %}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plate-formes<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for platform in platforms %}
            <li{% if filter_type == 'platform' and filter == platform.slug %} class="active"{% endif %}><a href="{{ platform.get_absolute_url }}">{{ platform }}</a></li>
        {% endfor %}
    </ul>
</li>

<li class="dropdown{% if filter_type == 'type' %} active{% endif %}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Types<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for type in types %}
            <li{% if filter_type == 'type' and filter == type.slug %} class="active"{% endif %}><a href="{{ type.get_absolute_url }}">{{ type }}</a></li>
        {% endfor %}
    </ul>
</li>

<li{% if filter_type == 'all' %} class="active"{% endif %}><a href="{% url application_list %}">Aucun filtre</a></li>
