<li><p class="navbar-text">Filter par : </p></li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Auteurs<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for author in authors %}
            <li><a href="{% url author_detail slug=author.slug %}">{{ author }}</a></li>
        {% endfor %}
    </ul>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plate-formes<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for platform in platforms %}
            <li><a href="{% url platform_detail slug=platform.slug %}">{{ platform }}</a></li>
        {% endfor %}
    </ul>
</li>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Types<b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for type in types %}
            <li><a href="{% url type_detail slug=type.slug %}">{{ type }}</a></li>
        {% endfor %}
    </ul>
</li>

<li><a href="{% url application_list %}">Aucun filtre</a></li>
