.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
/* Tweak twitter-bootstrap navbar */
.navbar .nav-collapse.in {
  height: auto !important;
}
.navbar .dropdown .dropdown-menu {
  display: none;
}
.navbar .dropdown.open .dropdown-menu {
  display: block;
}
.navbar .navbar-text {
  line-height: 39px;
}
.navbar .nav .open.active,
.navbar .nav .active > .dropdown-toggle {
  background: #222;
}
/* End of tweak */
/* Put authors in 3 columns in dropdown menu when enough place */
.dropdown.authors {
  position: static;
}
.dropdown.authors .dropdown-menu {
  width: 662px;
  right: -20px !important;
  vertical-align: top;
}
.dropdown.authors .dropdown-menu:after {
  left: 50% !important;
  right: auto !important;
}
.dropdown.authors ul.unstyled {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  border-right: solid #ccc 1px;
}
.dropdown.authors ul.unstyled li span {
  margin-right: 50px;
}
.dropdown.authors ul.unstyled li img {
  float: right;
}
.dropdown.authors ul.unstyled:last-child {
  border: none;
}
@media (max-width: 767px) {
  .dropdown.authors .dropdown-menu {
    width: auto;
  }
  .dropdown.authors ul.unstyled {
    display: block;
    width: auto;
    border: none;
  }
}
/* end  authors in enough place */
/* Dropdown in navbar on white background when collapsed */
@media (max-width: 979px) {
  .navbar .dropdown-menu {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 0;
  }
  .navbar .dropdown-menu li a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0 !important;
  }
}
/* end of white background navbar */
.container > header .well {
  overflow: auto;
}
.container > header .well h1 {
  margin-bottom: 0.5ex;
}
.container > header .well h1 small {
  display: block;
  line-height: 30px;
}
.container > header .well a.btn {
  font-weight: bold;
  float: right;
}
figure {
  margin: 0;
}
figure a {
  display: block;
  text-align: center;
}
figure img {
  max-width: 100%;
}
.carousel-control-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 46px;
  left: 15px;
  z-index: 3;
}
.carousel-control-container.right {
  left: auto;
  right: 15px;
}
.carousel-control-container .carousel-control {
  left: 0;
}
.carousel-caption {
  color: white;
  z-index: 4;
}
.carousel-caption h4 {
  margin-bottom: 1ex;
}
.carousel-caption span {
  font-weight: normal;
  font-size: smaller;
}
.carousel-caption span a {
  text-decoration: underline;
}
.carousel-caption a {
  color: white;
}
.carousel-caption footer {
  border-top: solid #666 1px;
  padding-top: 5px;
}
.carousel-caption footer a {
  text-decoration: underline;
}
.carousel-caption .btn {
  font-size: 13px;
  color: #333;
}
.app-row {
  vertical-align: top;
}
.app-row > li {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  display: inline-block;
  float: none;
  vertical-align: top;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.app-row > li img {
  max-width: 100%;
}
.app-row > li article {
  padding: 5px 10px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.app-row > li article h4 {
  margin-bottom: 0;
}
.app-row > li article span a {
  text-decoration: none;
}
.app-row > li article section,
.app-row > li article footer {
  display: none;
}
.app-row > li:hover article {
  background: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
  bottom: auto;
  top: 0;
}
.app-row > li:hover article h4 {
  margin-bottom: 1ex;
}
.app-row > li:hover article h4 a {
  text-decoration: underline;
}
.app-row > li:hover article section,
.app-row > li:hover article footer {
  display: block;
}
#filter-hint {
  float: right;
  margin-right: 1.5em;
}
#filter-hint .full-only {
  display: none;
}
#filter-hint b:first-child {
  display: none;
}
@media (max-width: 479px) {
  .carousel-control-container {
    left: 0;
  }
  .carousel-control-container.right {
    left: auto;
    right: 0;
  }
}
@media (min-width: 980px) {
  #filter-hint {
    margin-right: 2em;
  }
  #filter-hint .full-only {
    display: inline;
  }
  #filter-hint b:first-child {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .container > header .well h1 small {
    display: inline;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .app-list > li {
    margin-bottom: 30px;
  }
}
